<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <title>ng-Reddit</title>

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body ng-app="ng-reddit">


    <nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="LoginController">
    <div class="container">


        <a class="btn btn-default navbar-btn navbar-left" ng-href="#/">Front Page</a>
        <a class="btn btn-default navbar-btn navbar-left" ng-href="#/new">Submit</a>
        

        <span class="navbar-text navbar-right" ng-show="currentUser">
            Signed in as <a ng-href="https://twitter.com/{{currentUser.twitter.username}}" class="navbar-link" target="_blank">{{currentUser.twitter.username}}</a> 
            (<a ng-href="#/" ng-click="logout()" class="navbar-link">Logout</a>)
        </span>
        <a class="btn btn-default navbar-btn navbar-right" ng-hide="currentUser" ng-click="login()">Login with Twitter</a>

        

        

         

    </div>
    </nav>

    
    <main ng-view></main>


    <!-- Libs -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js">
    </script>
    <script src="https://cdn.firebase.com/js/client/2.2.2/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
    <script src="scripts/moment.js"></script>
    
    <!-- App -->
    <script src="scripts/app.js"></script>
    <script src="scripts/Authentication.js"></script>
    

    <script src="scripts/newPost.js"></script>
    <script src="scripts/posts.js"></script>
    <script src="scripts/post.js"></script>
    <script src="scripts/login.js"></script>
</body>
</html>