<h1 class="text-center">ng-Reddit</h1><br>

<div class="alert alert-warning" role="alert" ng-if="userVoteAlert">
	You must be logged in to vote.
</div>

<ul class="list-group" style="list-style-type: none;">
<li ng-repeat="post in posts | orderBy: '-votes'" class="list-group-item">
	
	<h2 style="display: inline-block;" >
		<a ng-show="post.url" ng-href="{{post.url}}" target="_blank">{{post.name}}</a>
		<a ng-hide="post.url" ng-href="#/posts/{{post.$id}}" >{{post.name}}</a>
	</h2> 

	<span class="post-link" ng-show="post.url">({{post.url}})</span>
	<span class="post-link" ng-hide="post.url">(self.ng-reddit)</span>

	<div class="btn-group pull-right">
		<button ng-click="upVote(post)" class="btn btn-success btn-sm" ng-hide="post.user == currentUser.twitter.username">
			Up
		</button>
		<button class="btn btn-default btn-sm" disabled>
			{{post.votes}} votes
		</button>
		<button ng-click="downVote(post)" class="btn btn-danger btn-sm" ng-hide="post.user == currentUser.twitter.username">
			Down
		</button>
	</div>

	<p>
		<a ng-href="#/posts/{{post.$id}}">{{post.commentCount}} Comments</a> | Posted {{post.date | fromNow}} by <a ng-href="https://twitter.com/{{post.user}}" target="_blank">{{post.user}}</a>
	</p>

</li>
</ul>